:root {
  --GRAY1: #f2f2f2;
  --GRAY2: #d9d9d9;
  --GRAY3: #808080;
  --GRAY4: #333333;
  --GRAY5: #262626;
  --GRAY6: #1a1a1a;
  --GRAY7: #0d0d0d;

  --RED1: #8b0000;
  --RED2: #740a01;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

::selection {
  background-color: var(--RED1);
}

:focus {
  outline: 1px solid var(--RED2);
}

body {
  background-color: var(--GRAY7);
  color: var(--GRAY1);
}

input,
button,
body {
  font-size: 1rem;
}
